<%- include('../layouts/header.ejs',{session}) %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="" style="background-color: rgb(245, 245, 245);">
                            <i class=""></i>
                            <span></span>
                        </div>
                        <ul style="background-color: rgb(255, 255, 255);">
                              <li><a href="#"></a></li>

                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" style="background-color: rgb(0, 0, 0);" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item" id="img-container">
                            <a href="images/<%=singleProduct.images[0]%>  %>" class="MagicZoom" data-options="zoomPosition: inner"> <img class="product__details__pic__item--large"
                                src="images/<%=singleProduct.images[0]%>" alt=""> </a>
                        </div>
                       
                        <div class="product__details__pic__slider owl-carousel">
                            
                            <% for( let i = 0; i <singleProduct.images.length; i++ ) { %>
                           
                            <img data-imgbigurl="images/<%=singleProduct.images[i]%>"
                                src="images/<%=singleProduct.images[i]%>" alt="">
                            <% } %>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3><%=singleProduct.name  %></h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div>
                        <div class="product__details__price">₹<%=singleProduct.price %></div>
                        <p><%=singleProduct.description %></p>
                        <!-- <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div> 
                            </div>
                        </div> -->
                        <form method="post" action="/cart?id=<%=singleProduct._id %>">
                        <button class="primary-btn" style="background-color: black; color: white;" type="submit"> Add To cart</button>
                        <a href="/addtoWhishlist?id=<%=singleProduct._id%>" class="heart-icon"><span  class="icon_heart_alt"></span></a>
                         </form>
                        <ul>
                            <li><b>Stock</b> <span><%=singleProduct.quantity  %></span></li>
                            <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                            <li><b>Share on</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </section> 
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Related Product</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <%for(let i=0;i<=4;i++){%>
                <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="product__item">
                        <div class="product__item__pic set-bg">
                            <img src="images/<%=singleProduct[i].images[0]%>" alt=">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#"><%=products[i].name%></a></h6>
                            <h5><%=products[i].price%></h5>
                        </div>
                    </div>
                   
                   
                </div>
                  <%  } %>
                
               
                
                        <% if (message != null) { %>
                            <script>
                                  swal({
                                    title: "Success!",
                                    text: " <%= message %> ",
                                    icon: "success",
                                    timer:2000,
                                    showConfirmButton: false
                                  })
                          </script>
                          <% } %>
                          <% if (mess != null) { %>
                            <script>
                                  swal({
                                    title: "Success!",
                                    text: " <%= mess %> ",
                                    icon: "success",
                                    timer:2000,
                                    showConfirmButton: false
                                  })
                          </script>
                          <% } %>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related Product Section End -->

<%- include('../layouts/footer.ejs') %>